<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    {% include "partials/meta-info.html" %}
    <link
      rel="alternate"
      type="application/rss+xml"
      href="{{ site.url }}/feed.xml"
    />
    {% set css %} {% include "css/styles.css" %} {% endset %}

    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="/css/output.css" />
    <style defer>
      {{ css | safe }}
    </style>
  </head>
  <body class="flex-col">
    {# {% include "partials/site-head.html" %} #}

    <main tabindex="-1" id="main-content" class="site-content flow">
      {% block content %}{% endblock %}
    </main>
    {# {% include "partials/site-foot.html" %} #}
    <script defer>
      //
      //    Toggle Mobile Navigation
      //
      const navbarMenu = document.querySelector("#navigation #navbar-menu");
      const hamburgerMenu = document.querySelector(
        "#navigation .hamburger-menu"
      );

      hamburgerMenu.addEventListener("click", function () {
        const isNavOpen = navbarMenu.classList.contains("open");
        if (!isNavOpen) {
          hamburgerMenu.setAttribute("aria-expanded", true);
          hamburgerMenu.classList.add("clicked");
          navbarMenu.classList.add("open");
        } else {
          hamburgerMenu.setAttribute("aria-expanded", false);
          hamburgerMenu.classList.remove("clicked");
          navbarMenu.classList.remove("open");
        }
      });
    </script>
    <script src="https://unpkg.com/hyperscript.org@0.9.11"></script>
  </body>
</html>
