{% extends "layouts/base.html" %} 
{% block content %}

{% set nextEvent =
    helpers.getNextEvent(collections.events) %} {% set nextEvents =
    helpers.getNextEvents(collections.events) %}
{% set dateInfo =
helpers.getDateInfo(nextEvent.data.date) %}
{% set pageHeaderTitle =
    nextEvent.data.title %} 
{% set pageHeaderSummary %}
{% for day, hours, minutes, month, dayNum in dateInfo %}
    {{nextEvent.data.category}} – {{ day }} {{ hours }}:{{ minutes }} – {{ month
    }} {{ dayNum }}
    {% endfor %}
{% endset %} 
{% include "partials/page-header.html" %}

<div>{{nextEvent.content  | safe}}</div>

<h1>{{ upcoming.headline }}</h1>
<p>{{ upcoming.subheadline }}</p>

{% for event in nextEvents %}
<div>
    <h3>{{ event.data.title }}</h3>
    {% set dateInfo = helpers.getDateInfo(event.data.date) %}
    {% for day, hours, minutes, month, dayNum in dateInfo %}
        <p >{{ event.data.category }} <br>
            <span>
                {{ day }} {{ hours }}:{{ minutes }} – {{ month
                }} {{ dayNum }}
            </span>
        </p>
    {% endfor %}
</div>

{% endfor %}

{% endblock %}