{% extends "layouts/base.html" %} {% block content %}
<article class="hp-hero-container">
  {#
  <div class="hp-svg-background">
    {% include "partials/background/Animated-Shape.svg" %}
  </div>
  #}
  <div class="hp-hero">
    <div class="lt-container">
      <div class="hp-hero-cta">
        <h1 class="text-headline" data-type="neutral">{{ intro.headline }}</h1>
        <p class="text-subheadline" data-type="neutral">{{ intro.subheadline }}</p>
        {% include "partials/cta-button.html" %}
        {# img or svg #}
      </div>

    </div>
  </div>
</article>
<article class="hp-pain-container">
  <div class="hp-pain">
    <div class="lt-container">
      <div class="hp-pain-content">
        <h1>{{ pain.headline }}</h1>
        <ul>
          {% for pains, pain in pain.painPoints %}
          <li class="pain-item"><strong>{{ pain.pain }}</strong> {{pain.text}}</li>
          {% endfor %}
        </ul>
        <p>{{ pain.understanding }}</p>
      </div>
    </div>
  </div>
</article>

<article class="hp-solution-container">
  <div class="hp-solution">
    <div class="lt-container">
      <div class="hp-solution-content">
        <h1>{{ solution.headline }}</h1>
        {% for content, text in solution.content %}
        <p>{{ text }}</p>
        {% endfor %}
        {# img or svg #}
      </div>
    </div>
  </div>
</article>

<article class="hp-benefits-container">
  <div class="lt-container">
    <h1 class="text-center">{{ benefits.headline }}</h1>
    <div class="hp-benefits-content">
      {% for benefit, bInfo in benefits.benefits %}
      <div class="benefit-item">
        <div class="flex-col border-dashed">
          {% include bInfo.icon %}
          <h2 class="text-center max-height-2">{{ bInfo.headline }}</h2>
        </div>
        <p>{{ bInfo.text }}</p>
      </div>
      {% endfor %}
    </div>
  </div>
  </div>
</article>

<article class="hp-process-container">
  {# create a variable for the image / illustration to use for each section #}

  <div class="lt-container">
    <div class="hp-process-content">
      {# img or svg #}
      <h1>{{ process.headline }}</h1>
      {% for steps, step in process.steps %}
      <h2>{{ step.headline }}</h2>
      <p>{{ step.text }}</p>
      {% endfor %}
    </div>
  </div>
</article>

  {# Featues #}
  <div class="hp-feature-wild-container">
    <div class="lt-container flow5">
      <article>
        <div>
          <h1 class="text-center text-headline">{{ features.headline }}</h1>
          {% include "partials/features.html" %}
        </div>
      </article>
      {# Wildcard #}
      <article class="flex-col pos-relative">
        <div class="flex-col">
          <div class="hp-wild">
            <div>
              <h1>{{ rightFit.whoFor.headline }}</h1>
              <ul>
                {% for reasons, reason in rightFit.whoFor.reasons %}
                <li>{{ reason }}</li>
                {% endfor %}
              </ul>
            </div>
            <div>
              <h1>{{ rightFit.notFor.headline }}</h1>
              <ul>
                {% for reasons, reason in rightFit.notFor.reasons %}
                <li>{{ reason }}</li>
                {% endfor %}
              </ul>
            </div>
          </div>
          {% include "partials/cta-button.html" %}
        </div>
      </article>
    </div>
  </div>
  

<article>{% include "partials/contact-form.html" %}</article>
{% endblock %}
