{% extends "layouts/base.html" %} {% set pageHeaderTitle = headline %} {% set
pageHeaderSummary = subheadline %} {% block content %} {% include
"partials/page-header.html" %} {%include "partials/foods-top.html" %}

<div class="flex justify-center">
  <iframe
    class=""
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2965.8828728131566!2d-114.67683722338346!3d41.9813244589442!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80a9c79896014e7b%3A0x4699b412a0f057a6!2s1702%20US-93%2C%20Jackpot%2C%20NV%2089825!5e0!3m2!1sen!2sus!4v1696900756572!5m2!1sen!2sus"
    width="600"
    height="450"
    style="border: 0"
    allowfullscreen=""
    loading="lazy"
    referrerpolicy="no-referrer-when-downgrade"
  ></iframe>
</div>

{% endblock %}
