{% extends "layouts/base.html" %} {% set pageHeaderTitle = headline %} {% set
pageHeaderSummary = subheadline %} {% block content %} {% include
"partials/page-header.html" %} {%include "partials/foods-top.html" %}

<div class="flex justify-center">
  <iframe
    class="mt-32"
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d741.4687149094949!2d-114.67473573034142!3d41.98149649512682!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80a9c7ca87e0eb27%3A0x1d760c51b6325291!2sSOPRIS!5e0!3m2!1sen!2sus!4v1700457908178!5m2!1sen!2sus"
    width="600"
    height="450"
    style="border: 0"
    allowfullscreen=""
    loading="lazy"
    referrerpolicy="no-referrer-when-downgrade"
  ></iframe>
</div>

{% endblock %}
