{% extends "layouts/base.html" %} {% block content %} {% set pageHeaderTitle =
headline %} {% set pageHeaderSummary = subheadline %} {% include
"partials/page-header.html" %} {% set categories =
helpers.getMenuCategories(collections.menu) %} {% set SpecialDays =
helpers.getSpecialDays(collections.specials) %} {%include
"partials/foods-top.html" %}

<article
  class="waiting "
  _="
on loaded 
log $isFocused
if $isFocused is 0 add .link  to first <button/> in me"
>
  <h2 class="text-center mt-24 mb-12 text-[40px]">{{ mainMenu.headline }}</h2>
  {% if categories %}
  <div class="flex justify-center mb-10 py-6 border-b border-t border-white/40">
    <div class="relative m-[1em] max-w-3xl overflow-hidden ">
      <ul id="categories" class="ml-[-20px] flex flex-wrap justify-between">
        {% for category in categories %}
        <li
          class="cs-menu-category relative mx-0 my-[.25em] flex-grow basis-[auto] px-6 text-center"
        >
          <h3>
            <button
              id="{{category}}"
              class="menu-categories font-bold"
              _="
                            on load if my innerHTML contains '-' call removeDash('{{ category }}') else return {{ category }} end
                            then put it into my innerHTML  end
                            on focus remove .link from .menu-categories
                            add .link to me
                            add .hidden to .categories
                            remove .hidden from .{{category}}
                            set  $isFocused to 1 log $isFocused"
            >
              {{ category }}
            </button>
          </h3>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div
    class="waiting"
    _="
        on loaded if $isFocused is 0 remove .hidden from the next <ul/>"
  ></div>
  {% for category in categories %}
  <ul class="categories {{category}} hidden flex flex-wrap justify-around lg:justify-between gap-10">
    {% for menuItem in collections.menu %} {% if menuItem.data.category ==
    category%}
    <li class="flex max-w-xl min-w-min flex-grow flex-shrink basis-[450px]  h-30 gap-4">
        {% image menuItem.data.img, "rounded border-white border min-w-[125px]  sm:min-w-[150px]","","(max-width: 400px) 400px", [150]%}
        <div class=" flex-grow flex-shrink">
          <div class="flex justify-between gap-2">
            <h4 class="text-xl font-semibold" >{{ menuItem.data.title }}</h4>
            <div class="opacity-40 border-t border-b border-white h-2.5 flex-1 self-center"></div>
            <p class="text-sopris-creme">{{ menuItem.data.price }}</p>
          </div>
          <p>{{ menuItem.data.desc }}</p>
        </div>
    </li>
    {% endif %} {% endfor %}
  </ul>
  {% endfor %} {% endif %}
</article>

<article
  _="
on loaded 
log $isFocusedSpecial
if $isFocusedSpecial is 0 add .link to first <button/> in me"
>
  <h2 id="Specials" class="text-center text-[40px] mt-36 mb-4">{{ specialMenu.headline }}</h2>
  <p class="text-center">{{ specialMenu.subheadline }}</p>

  {% if SpecialDays %}
  <div class="flex justify-center mt-12 mb-10 py-6 border-b border-t border-white/40">
    <div class="relative m-[1em] max-w-3xl overflow-hidden">
      <ul
        id="categoriesSpecial"
        class="ml-[-20px] flex flex-wrap justify-between"
        _="
      "
      >
        {% for day, category in SpecialDays %}
        <li
          class="cs-menu-category relative mx-0 my-[.25em] flex-grow basis-[auto] px-6 text-center"
        >
          <h3>
            <button
              id="{{category}}"
              class="menu-categories-special font-bold"
              _="
                            on load if my innerHTML contains '-' call removeDash('{{ category }}') else return {{ category }} end
                            then put it into my innerHTML  end
                            on focus remove .link from .menu-categories-special
                            add .link to me
                            add .hidden to .categoriesSpecial
                            remove .hidden from .{{category}}
 
                            set  $isFocusedSpecial to 1 log $isFocusedSpecial"
            >
              {{ category }}
            </button>
          </h3>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div
    class="waiting"
    _="
        on loaded if $isFocusedSpecial is 0 remove .hidden from next <div/>"
  ></div>
  {% for day, category in SpecialDays%}
  <div class="categoriesSpecial {{category}} hidden">
    {% for special in collections.specials %} {% if special.data.day == day%}
    <h2 class="text-[40px]" >{{ special.data.title}}</h2>
    <p>{{special.content | safe }}</p>
    {% endif %} {% endfor %}
  </div>
  {% endfor %} {% endif %}
</article>
<script defer type="text/hyperscript">
  {# After page load check t  #}
  on load if $isFocused is not 1 set  $isFocused to 0 send loaded to .waiting end
  on load if $isFocusedSpecial is not 1 set  $isFocusedSpecial to 0 send loaded to .waiting
</script>

<script>
  function removeDash(category) {
    console.log(category);
    return category.replace("-", " ");
  }
</script>

{% endblock %}
