{% extends "layouts/base.html" %} {% block content %} {% set pageHeaderTitle =
title %} {% set pageHeaderSummary = subheadline %} {% include
"partials/page-header.html" %} {% set categories =
helpers.getMenuCategories(collections.menu) %}

<article
  class="waiting"
  _="
on loaded 
log $isFocused
if $isFocused is 0 add .text-lime-600 to first <button/>"
>
  {% if categories %}
  <div class="flex justify-center">
    <div class="relative m-[1em] max-w-3xl overflow-hidden">
      <ul id="categories" class="ml-[-20px] flex flex-wrap justify-between">
        {% for category in categories %}
        <li
          class="cs-menu-category menu-categories relative mx-0 my-[.25em] flex-grow basis-[auto] px-6 text-center"
        >
          <button
            id="{{category}}"
            class="menu-categories font-bold"
            _="
      
                        on load if my innerHTML contains '-' call removeDash('{{ category }}') else return {{ category }} end
                        then put it into my innerHTML  end
                        on focus remove .text-lime-600 from .menu-categories
                        add .text-lime-600 to me
                        add .hidden to .categories
                        remove .hidden from .{{category}}
                        set  $isFocused to 1 log $isFocused"
          >
            {{ category }}
          </button>
        </li>
        {# {% if not loop.last %}
        <div class="seperator relative">
          <span class="relative bottom-4 text-5xl">·</span
          ><span class="relative bottom-5 text-4xl">—</span
          ><span class="relative bottom-4 text-5xl">·</span>
        </div>
        {% endif %}#} {% endfor %}
      </ul>
    </div>
  </div>
  <div
    class="waiting"
    _="
        on loaded if $isFocused is 0 remove .hidden from next <ul/>"
  ></div>
  {% for category in categories %}
  <ul class="categories {{category}} hidden">
    {% for menuItem in collections.menu %} {% if menuItem.data.category ==
    category%}
    <li>
      <h4>{{ menuItem.data.title }}</h4>
      <p>{{ menuItem.data.price }}</p>
      <p>{{ menuItem.data.desc }}</p>
    </li>
    {% endif %} {% endfor %}
  </ul>
  {% endfor %} {% endif %}
</article>
<script defer type="text/hyperscript">
  {# After page load check t  #}
  on load if $isFocused is not 1 set  $isFocused to 0 send loaded to .waiting
</script>

<script>
  function removeDash(category) {
    console.log(category);
    return category.replace("-", " ");
  }
</script>

{% endblock %}
