{% extends "layouts/base.html" %} {% block content %} {% set pageHeaderTitle =
title %} {% set pageHeaderSummary = subheadline %} {% include
"partials/page-header.html" %}

<article class="price-main-container">
  <div class="lt-container flow5">
    <h1 class="text-center">{{ featureHeadline }}</h1>
    {% include "partials/features.html" %}
    <div class="card-container">
      {% for cardkey, card in cards %}
      <div class="card flow" {% if card.name == "Business" %} data-type="preferred" {% endif %}>
        <h2 class="text-center text-upper" data-type="neutral">
          {{ card.name }}
        </h2>
        <h3 class="text-center">{{ card.cost }}</h3>
        <ul class="flow">
          {% for itemkey, item in card.items %}
          <li class="feature-item">{{ item }}</li>
          {% endfor %}
        </ul>
        {% include "partials/cta-button.html" %}
      </div>
      {% endfor %}
    </div>
  </div>
</article>

<article class="price-maintenance-container">
  <div class="lt-container">
    <div class="price-maintenance-content">
      <h2>{{ maintenance }}</h2>
      <p>{{ maintenanceText }}</p>
    </div>
  </div>
</article>

<article class="price-faq-container">
  <div class="lt-container">
    <div class="price-faq-content">
      <h2 class="text-center">{{ faq.headline }}</h2>
      <ul class="price-faq-questions">
        {% for faqkey, faq in faq.faqs %}
        <li class="price-faq">
          <h3>{{ faq.headline }}</h3>
          <p>{{ faq.text }}</p>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</article>
<article class="flex-col flex-ai-center">
  <h1>Unsure?</h1>
  {% include "partials/cta-button.html" %}
</article>
{% include "partials/contact-form.html" %} {% endblock %}
