{% set navPages = collections.all | eleventyNavigation %}
{% set futureEvents = helpers.futureEvents(collections.events) %}
{% macro renderNavListItem(entry) -%}
   {% if entry.title == "Blog" %}
        {% if collections.blog.length %}
        <li >
          <a 
            href="{{ entry.url }}"
            {{
            helpers.getLinkActiveState(entry.url,
            page.url)}}
            >{{ entry.title }}</a
          >
        </li>
        {% endif %}
        {% elif entry.title == "Event" %}
        {% if futureEvents ==true %}
        <li >
          <a 
            href="{{ entry.url }}"
            {{
            helpers.getLinkActiveState(entry.url,
            page.url)}}
            >{{ entry.title }}</a
          >
        </li>
        {% endif %}
        {% else %}
        <li>
          <a
            href="{{ entry.url }}"
            {{
            helpers.getLinkActiveState(entry.url,
            page.url)}}
            >{{ entry.title }}</a
          >
        </li>
        {% endif %} 
{%- if entry.children.length -%}
  <ul>
    {%- for child in entry.children %}{{ renderNavListItem(child) }}{% endfor -%}
  </ul>
{%- endif -%}
</li>
{%- endmacro %}

<a class="visually-hidden" href="#main-content">Skip to content</a>
<header id="navigation" class="site-nav">

  <div class="container">
    <div aria-hidden="true" class="background-color-div">
      <!--This div is used to overcome a z-index issue where the open
          #navbar-menu is on top of the #navigation. This bar places itself
          the #navbar-menu so that menu appears behind the #navigation
      -->
    </div>
    
    {# LOGO #}
    <a class="logo" href="/" aria-label="{{ site.name}}"
    >{% include "partials/logo/Vynxlabs.svg" %}</a 
    >
    <!--Mobile Nav toggle-->
    <button class="hamburger-menu" aria-expanded="false" aria-controls="navbar-menu">
      <span class="visually-hidden">Menu</span>
      <span aria-hidden="true"></span>
    </button>
    <nav id="navbar-menu" aria-label="main navigation">

<ul>
{%- for entry in navPages %}{{ renderNavListItem(entry) }}{%- endfor -%}
{{futureEvents}}
</ul>
    </nav>
  </div>
</header> 



 {#
    <nav
      class="fixed left-0 top-0 z-20 w-full border-b border-gray-200 bg-white dark:border-gray-600 dark:bg-gray-900"
    >
      <div
        class="mx-auto flex max-w-screen-xl flex-wrap items-center justify-between p-4"
      >
        <a href="https://flowbite.com/" class="flex items-center">
          <img
            src="https://flowbite.com/docs/images/logo.svg"
            class="mr-3 h-8"
            alt="Flowbite Logo"
          />
          <span
            class="self-center whitespace-nowrap text-2xl font-semibold dark:text-white"
            >Flowbite</span
          >
        </a>
        <div class="flex md:order-2">
          <button
            type="button"
            class="mr-3 rounded-lg bg-blue-700 px-4 py-2 text-center text-sm font-medium text-white hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 md:mr-0"
          >
            Get started
          </button>
          <button
            data-collapse-toggle="navbar-sticky"
            type="button"
            class="inline-flex h-10 w-10 items-center justify-center rounded-lg p-2 text-sm text-gray-500 hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600 md:hidden"
            aria-controls="navbar-sticky"
            aria-expanded="false"
          >
            <span class="sr-only">Open main menu</span>
            <svg
              class="h-5 w-5"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 17 14"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M1 1h15M1 7h15M1 13h15"
              />
            </svg>
          </button>
        </div>
        <div
          class="hidden w-full items-center justify-between md:order-1 md:flex md:w-auto"
          id="navbar-sticky"
        >
          <ul
            class="mt-4 flex flex-col rounded-lg border border-gray-100 bg-gray-50 p-4 font-medium dark:border-gray-700 dark:bg-gray-800 md:mt-0 md:flex-row md:space-x-8 md:border-0 md:bg-white md:p-0 md:dark:bg-gray-900"
          >
            <li>
              <a
                href="#"
                class="block rounded bg-blue-700 py-2 pl-3 pr-4 text-white md:bg-transparent md:p-0 md:text-blue-700 md:dark:text-blue-500"
                aria-current="page"
                >Home</a
              >
            </li>
            <li>
              <a
                href="#"
                class="block rounded py-2 pl-3 pr-4 text-gray-900 hover:bg-gray-100 dark:border-gray-700 dark:text-white dark:hover:bg-gray-700 dark:hover:text-white md:p-0 md:hover:bg-transparent md:hover:text-blue-700 md:dark:hover:bg-transparent md:dark:hover:text-blue-500"
                >About</a
              >
            </li>
            <li>
              <a
                href="#"
                class="block rounded py-2 pl-3 pr-4 text-gray-900 hover:bg-gray-100 dark:border-gray-700 dark:text-white dark:hover:bg-gray-700 dark:hover:text-white md:p-0 md:hover:bg-transparent md:hover:text-blue-700 md:dark:hover:bg-transparent md:dark:hover:text-blue-500"
                >Services</a
              >
            </li>
            <li>
              <a
                href="#"
                class="block rounded py-2 pl-3 pr-4 text-gray-900 hover:bg-gray-100 dark:border-gray-700 dark:text-white dark:hover:bg-gray-700 dark:hover:text-white md:p-0 md:hover:bg-transparent md:hover:text-blue-700 md:dark:hover:bg-transparent md:dark:hover:text-blue-500"
                >Contact</a
              >
            </li>
          </ul>
        </div>
      </div>
    </nav>
    #}